@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
    top: 60px !important;
    right: 60px !important;
}


@media print {
    button#hamburger, button#print {
        display: none;
    }
    #confirmation {
        padding: 20px 30px;
    }
}

@page {
    size: auto;
    margin: 0mm;
}
